/* html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} */

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background: #c5c5c5;
}

.hero {
  background: url(./imagens/bg-3.jpg);
  background-size: cover;
  background-position: right;
  height: 600px;
  margin: 0;
}

.hero ul {
  margin: 0;
  padding-top: 1.5rem;
  padding-right: 2.5rem;
  display: block;
  text-align: right;
}

.hero li {
  list-style: none;
}

.hero li a {
  font-size: 0.8rem;
  text-decoration: none;
  margin: 0.15rem;
  background-color: rgb(51, 51, 51, 0.8);
  color: #fff;
  padding: 0.5rem;
  border: 0.12rem solid #fff;
  text-transform: uppercase;
  text-indent: 0.5rem;
}

.hero li a:hover {
  background-color: #fff;
  color: #000;
}

.hero h1 {
  color: #fff;
  text-align: center;
  font-size: 3rem;
  text-shadow: 2px 2px 2px black;
  text-transform: uppercase;
  margin-top: 15rem;
  margin-bottom: auto;
}

.hero p {
  color: #fff;
  font-size: 1rem;
  background-color: rgb(0, 0, 0, 0.6);
  width: fit-content;
  margin-top: 2.5rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0.8rem;
  border-bottom: #fff solid 0.12rem;
}

section {
  background: #fff;
  /* width: 75%; */
  /* min-width: 600px; */
  margin: 1rem auto;
  padding: 1rem;
  padding-bottom: 2rem;
}

section h1 {
  background-color: rgb(210, 248, 235);
  border-bottom: #333 solid 0.12rem;
  margin: 0;
  padding: 0.4rem;
}

section a {
  display: block;
  text-decoration: none;
  background-color: rgb(51, 51, 51, 0.6);
  color: #fff;
  text-align: center;
  border-radius: 0.2rem;
  padding: 0.7rem 2rem;
  margin-left: auto;
  width: fit-content;
}

section a:hover {
  opacity: 0.8;
  transition: all 0.3s;
}

footer {
  background: rgb(51, 51, 51, 0.8);
  color: #fff;
  padding: 2rem 0;
  text-align: center;
  margin-top: 2.5rem;
  width: 100wv;
}

@media screen and (min-width: 700px) {
  section {
    width: 75%;
  }
}

@media screen and (min-width: 1000px) {
  .hero h1 {
    font-size: 4.5rem;
  }

  section {
    max-width: 1000px;
  }
}

@media screen and (max-width: 360px) {
  .hero {
    height: 400px;
  }
  .hero h1 {
    font-size: 2rem;
    margin-top: 9rem;
  }
  .hero p {
    font-size: 0.9rem;
  }
}
